body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.MuiToolbar-gutters-37 {
  padding-right: 16px !important;
}

.MuiCircularProgress-colorPrimary-139 {
  color: #2196f3 !important;
}
